# Pandas

In [4]:
#Man hat z.B. Spaltenarrays...
import pandas as pd
x = [1,2,3,4]
y = [100, 200, 300, 400]
d = {'x': x, 'y': y}
df = pd.DataFrame(data=d)
df

   x    y
0  1  100
1  2  200
2  3  300
3  4  400

In [5]:
#Oder man baut das Data-Frame df zeilenweise auf...
import pandas as pd
df = pd.DataFrame([], columns=["Foo", "Bar"])
df = df.append({'Foo':1, 'Bar':87}, ignore_index=True)
df = df.append({'Foo':4, 'Bar':45}, ignore_index=True)
df

  Foo Bar
0   1  87
1   4  45

In [16]:
#Selektion - eine Zeile mit Bar = 45 herausziehen....
df[df['Bar'] == 45]

  Foo Bar
1   4  45

In [17]:
#Projektion - eine Spalte "Foo" herausziehen....
df = df[['Foo']]
df

  Foo
0   1
1   4

In [18]:
#Iteration mit Modidikation
for index, row in df.iterrows():
    df.at[index, "FooFoo"] = int(row["Foo"])**2
df

  Foo  FooFoo
0   1     1.0
1   4    16.0