# K-Fold Cross-Validation 1

In [1]:
import pandas as pd

#df = pd.read_csv("../hotels.csv")[:20]  # Nur 20, damit man sieht, was Split macht.
df = pd.read_csv("../hotels.csv")   

df

       Gewinn  Preis in Mio  Quadratmeter    Stadt
0    119000.0         21.88        3938.0   Berlin
1    250000.0         27.95        3986.0  München
2    250000.0         16.09        2574.0     Köln
3    145000.0         27.58        4155.0  München
4    110000.0         23.76        3795.0   Berlin
..        ...           ...           ...      ...
145   45000.0         10.50        1775.0     Köln
146  250000.0         23.80        4058.0     Köln
147   32000.0         12.86        1668.0   Berlin
148   35000.0         15.80        2281.0   Berlin
149   90000.0         17.09        2297.0   Berlin

[150 rows x 4 columns]

In [3]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [4]:
X

array([[1.190e+05, 3.938e+03],
       [2.500e+05, 3.986e+03],
       [2.500e+05, 2.574e+03],
       [1.450e+05, 4.155e+03],
       [1.100e+05, 3.795e+03],
       [2.460e+05, 2.773e+03],
       [5.400e+04, 6.340e+02],
       [2.000e+03, 8.200e+01],
       [1.140e+05, 3.706e+03],
       [4.700e+04, 1.692e+03],
       [5.400e+04, 1.989e+03],
       [1.240e+05, 2.616e+03],
       [1.250e+05, 3.358e+03],
       [6.200e+04, 1.941e+03],
       [2.500e+05, 1.831e+03],
       [2.400e+04, 8.000e+02],
       [1.020e+05, 2.700e+03],
       [2.600e+04, 1.257e+03],
       [8.500e+04, 2.644e+03],
       [1.820e+05, 2.001e+03],
       [7.400e+04, 1.581e+03],
       [5.000e+03, 8.200e+01],
       [1.340e+05, 2.412e+03],
       [1.400e+04, 7.690e+02],
       [8.400e+04, 3.815e+03],
       [1.240e+05, 3.122e+03],
       [3.200e+04, 1.492e+03],
       [2.500e+05, 5.250e+02],
       [5.300e+04, 1.217e+03],
       [3.200e+04, 1.497e+03],
       [6.300e+04, 3.101e+03],
       [8.800e+04, 2.644e+03],
       [1.560e+05, 3.631e+03],
       [1.380e+05, 1.461e+03],
       [3.700e+04, 1.492e+03],
       [8.600e+04, 2.408e+03],
       [1.700e+04, 8.590e+02],
       [2.300e+04, 7.030e+02],
       [1.360e+05, 4.908e+03],
       [1.290e+05, 2.545e+03],
       [3.400e+04, 1.847e+03],
       [1.800e+04, 5.020e+02],
       [1.370e+05, 3.478e+03],
       [7.300e+04, 7.560e+02],
       [1.560e+05, 5.099e+03],
       [2.100e+04, 1.215e+03],
       [9.100e+04, 3.107e+03],
       [7.200e+04, 2.375e+03],
       [1.010e+05, 2.101e+03],
       [2.500e+05, 4.832e+03],
       [5.700e+04, 2.458e+03],
       [8.300e+04, 4.561e+03],
       [8.700e+04, 4.044e+03],
       [1.410e+05, 3.896e+03],
       [9.900e+04, 2.630e+03],
       [2.500e+05, 3.249e+03],
       [9.900e+04, 2.409e+03],
       [1.130e+05, 2.618e+03],
       [8.300e+04, 3.366e+03],
       [2.900e+04, 1.625e+03],
       [6.800e+04, 3.149e+03],
       [1.210e+05, 3.944e+03],
       [7.100e+04, 3.162e+03],
       [6.400e+04, 1.993e+03],
       [2.500e+05, 2.583e+03],
       [9.700e+04, 2.301e+03],
       [4.000e+03, 1.710e+02],
       [2.500e+05, 3.876e+03],
       [1.300e+04, 3.040e+02],
       [2.500e+05, 3.849e+03],
       [6.600e+04, 2.795e+03],
       [2.500e+05, 5.702e+03],
       [7.500e+04, 4.082e+03],
       [1.250e+05, 3.910e+03],
       [1.260e+05, 4.565e+03],
       [2.500e+05, 4.436e+03],
       [2.500e+05, 1.355e+03],
       [6.400e+04, 2.220e+03],
       [9.700e+04, 3.674e+03],
       [9.100e+04, 2.847e+03],
       [1.240e+05, 5.201e+03],
       [2.500e+04, 1.002e+03],
       [5.800e+04, 3.306e+03],
       [5.700e+04, 2.952e+03],
       [1.900e+04, 7.230e+02],
       [2.300e+04, 7.600e+02],
       [2.600e+04, 1.241e+03],
       [9.600e+04, 3.168e+03],
       [2.500e+05, 5.741e+03],
       [4.500e+04, 1.873e+03],
       [3.000e+03, 1.140e+02],
       [1.160e+05, 3.707e+03],
       [8.000e+04, 3.165e+03],
       [6.200e+04, 1.799e+03],
       [8.500e+04, 6.470e+02],
       [2.000e+04, 3.960e+02],
       [6.100e+04, 1.346e+03],
       [1.420e+05, 5.427e+03],
       [1.560e+05, 3.085e+03],
       [3.900e+04, 1.594e+03],
       [1.630e+05, 3.619e+03],
       [1.280e+05, 1.127e+03],
       [7.100e+04, 2.985e+03],
       [6.700e+04, 2.770e+03],
       [7.000e+03, 2.420e+02],
       [2.500e+05, 5.519e+03],
       [6.900e+04, 3.062e+03],
       [1.200e+05, 4.681e+03],
       [3.400e+04, 2.501e+03],
       [2.500e+04, 1.690e+03],
       [8.900e+04, 4.494e+03],
       [1.760e+05, 2.671e+03],
       [2.500e+05, 5.549e+03],
       [1.030e+05, 1.275e+03],
       [5.600e+04, 2.218e+03],
       [7.600e+04, 2.186e+03],
       [7.000e+03, 3.800e+02],
       [3.300e+04, 1.505e+03],
       [1.210e+05, 4.151e+03],
       [4.400e+04, 1.781e+03],
       [2.500e+05, 5.607e+03],
       [1.250e+05, 5.643e+03],
       [1.250e+05, 3.309e+03],
       [4.800e+04, 3.302e+03],
       [9.500e+04, 3.429e+03],
       [2.500e+05, 2.584e+03],
       [1.350e+05, 3.224e+03],
       [4.400e+04, 7.880e+02],
       [1.920e+05, 3.708e+03],
       [6.300e+04, 1.489e+03],
       [8.700e+04, 2.244e+03],
       [1.100e+04, 1.790e+02],
       [1.210e+05, 2.220e+03],
       [1.040e+05, 3.374e+03],
       [2.270e+05, 1.696e+03],
       [2.500e+05, 2.115e+03],
       [2.500e+05, 3.558e+03],
       [3.500e+04, 1.021e+03],
       [1.870e+05, 4.008e+03],
       [8.000e+03, 2.670e+02],
       [2.500e+05, 5.256e+03],
       [2.320e+05, 2.337e+03],
       [8.000e+03, 4.490e+02],
       [2.130e+05, 4.763e+03],
       [1.590e+05, 3.078e+03],
       [4.500e+04, 1.775e+03],
       [2.500e+05, 4.058e+03],
       [3.200e+04, 1.668e+03],
       [3.500e+04, 2.281e+03],
       [9.000e+04, 2.297e+03]])

In [5]:
from sklearn.model_selection import KFold
from sklearn.linear_model import LinearRegression

kf = KFold()

In [6]:
#Eine Art Iterationsobjekt
kf.split(X)

In [7]:
for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("---------------------------")

train: [ 30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]
---------------------------
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]
---------------------------
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]
---------------------------
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
---------------------------
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
test: [120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
---------------------------

In [8]:


for train_index, test_index in kf.split(X):
    print("train: " + str(train_index))
    print("test: " + str(test_index))
    print("-----------")
    X_test = X[test_index]
    X_train = X[train_index]
    
    y_test = Y[test_index]
    y_train = Y[train_index]
    
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    print(model.score(X_test, y_test))

train: [ 30  31  32  33  34  35  36  37  38  39  40  41  42  43  44  45  46  47
  48  49  50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29]
-----------
0.6950589796561122
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  60  61  62  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83
  84  85  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53
 54 55 56 57 58 59]
-----------
0.7729077533074505
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  90  91  92  93  94  95  96  97  98  99 100 101
 102 103 104 105 106 107 108 109 110 111 112 113 114 115 116 117 118 119
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83
 84 85 86 87 88 89]
-----------
0.8513692723089337
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
 120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
test: [ 90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
-----------
0.8348833111503426
train: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119]
test: [120 121 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137
 138 139 140 141 142 143 144 145 146 147 148 149]
-----------
0.8988730200705585