# Repeated K-Fold Cross-Validation

In [1]:
import pandas as pd

df = pd.read_csv("../hotels.csv")

df.head()

     Gewinn  Preis in Mio  Quadratmeter    Stadt
0  119000.0         21.88        3938.0   Berlin
1  250000.0         27.95        3986.0  München
2  250000.0         16.09        2574.0     Köln
3  145000.0         27.58        4155.0  München
4  110000.0         23.76        3795.0   Berlin

In [8]:
X = df[["Gewinn", "Quadratmeter"]].values
Y = df[["Preis in Mio"]].values

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold

import numpy as np
#scores = cross_val_score(LinearRegression(), X, Y, cv = KFold())
#scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats=100))
scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats = 1000))
# Aber eigentlich ist der Standardwert 10! - 100 oder 1000 bringen keine wirkliche Verbesserung
print(scores)
print("Durchschnitt der Scores: " + str(np.mean(scores)))

[0.83119887 0.83477219 0.81980029 ... 0.86968559 0.81721214 0.77571088]
Durchschnitt der Scores: 0.8168424892624147

In [10]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold

scores = cross_val_score(LinearRegression(), X, Y, cv = RepeatedKFold(n_repeats=1000))


import numpy as np
np.mean(scores)

0.8167757047153702

In [ ]:
RepeatedKFold?